<div class='btn' (click)="logout()" style="margin:20px;">Logout</div>
<div style="overflow:auto">
<div class="message" style='margin-bottom:20px'>
    <p>Hi Viru</p>
    <p>Cheers to 1 year of our friendship aniversary. So much has changed in this one year from being just
        known people to friendship and to relationship. Don't know how this happened but it's best thing till date and forever.</p>
    <p>Although, I haven't met you so many times in college I think I can count on fingers but whenever I saw you, I had a feeling to have a 
        friendship with you but I couldn't even talk to you actually we didn't talk to each other face to face single time. We only spoke to 
        each other on whatsapp purely info related. Our friendship is so strange that when we had so many chances to become friends we stayed as 
        unknowns and there is no chance to become friends we became friends.</p>
    <p>Viru thanks for every memory. I know I am no way matching to your ideal friend or dream wife but you accepted me the way I am (you don't have an other option too), although we fight over it.
        I am missing so much but at the same time I am so proud of us. I had so many questions will we both able to stay apart if needed without talking
         even if we stay will love between us stay. Now I am super confident that we both can manage any situation to be together. Viru I am super
         lucky to have you.</p>
    <p>Here is the reason for this gift. I really like the concept of letters (it will last for years when ever we come back and see them the happiness
        is not measurable). I can send a message but some or the other time we have to delete it and even if we don't searching for old message is difficult.
        Sending an hand written letter is difficult and storing the hardcopy is next level of risk. Hence I thought of creating this secret world for us.
        I will try implementing many more features soon. For now please adjust.</p>

    <p>I wish you like this secret world of us</p>

    <P> With love</P>
    <p> Someone you love</p>

</div>
<!-- <div class='message' *ngIf="reply" >
    {{response}}
</div>
<div class='reply' *ngIf="!reply">
<input type="text" [(ngModel)]="response">
<button class='btn'[disabled]="!response" style="margin-top: 20px">Submit</button>
</div>
</div> -->